
[Unit]
Description=Proxy Service
After=network.target

[Service]
ExecStart=/usr/bin/proxy --buffer-size XXXXXXXXXX --workers XXXXXXXXXX --ulimit 99999 --http --ssh-only --ssh-port 90 --port 80 --response Proxy
Restart=always

[Install]
WantedBy=multi-user.target

